#menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    text-align: center;
    

}
#menu>div{
    height: 340px;
    width: 300px;
    border: 1px solid red;

}
#menu>div>img{
    width: 300px;
    height: 200px;
}
#navbar>div{
    display: flex;
    gap: 20px;
    text-align: end;
   
    margin-left: 900px;
}
#navbar{
    background-color: aquamarine;
}
a{
    font-size: 30px;
    text-decoration: none;
    
    border: 2px solid red;
}